body{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
}
ul,h1,h3,h4,p{
    padding: 0;
    margin: 0;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
    
}
.web{
    color:#2196F3;
}
li{
    list-style: none;
}
.link{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}
.link:hover{
    color:#2196F3;
}
.tel{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}
.hero-title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero{
    background-color: #2F303A;
    padding:200px;
}
.hero-btn{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 216px;
    height: 50px;
    display: block;
    margin: auto ;
}
.adv-h{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    padding: 0 0 10px 0;
}
.class{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;  
}
.work{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0;
}
.work-imgs{
    width: 370px;
    height: 294px;
    left: 215px;
}
.team{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-pic{
    border-radius: 0px;
    width: 270px;
    height: 260px;
}
.team-name1, .team-name2, .team-name3, .team-name4{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
}
.work-name1, .work-name2, .work-name3, .work-name4{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color:#757575;
}
main{
    background-color: #F5F4FA;
}
footer{
    background-color: #2F303A;
    margin: 0;
    width: 1600px;
    height: 252px;
}
.card-bg{
    margin: 0;
    padding: 0;
    width: 270px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0;   
}
.container{
    width: 1600px;
    margin: 0 auto;
    background: #F5F5F5;
}
.header-main{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 24px 0;
    border-bottom: 1px solid #ECECEC;
}
.header-left{
    display: flex;
    justify-content: space-between;
    width: 520px;

}
.header-ul1{
    display: flex;
    justify-content: space-between;
    width: 281px;
    align-items: center;

}
.header-right{
    display: flex;
    justify-content: space-between;
    width: 307px;
    align-items: center;
}
.feature{
    width: 1170px;
    height: 98px;   
    display: flex;
    margin: 0 auto 94px;
    padding: 94px 215px ; 
    justify-content: center;
}
.feature1{
    width: 270px;
    height: 98px; 
    margin: 0;
}
.feature2{
    width: 270px;
    height: 74px;
    margin: 0 30px 24px 0 
}
.feature3{
    width: 270px;
    height: 74px;
    margin: 0 30px 24px 0
}
.feature4{
    width: 270px;
    height: 98px;
    margin: 0;
}
.feature-left{
    width: 570px;
    height: 98px;
    display: flex;
    justify-content: space-between;
}
.feature-right{
    width: 570px;
    height: 98px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.we-do{
    width: 1170px;
    height: 386px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.box1, .box2, .box3{
    width: 370px;
    height: 294px;
}
.boxes{
    width: 1170px;
    height: 294px;
    display: flex;
    justify-content: space-between;
}
.our-team{
    width: 1600px;
    height: 648px;
    display: flex;
    justify-content: center;
    background-color: #F5F4FA;
}
.teamates{
    width: 1170px;
    height: 368px;
    display: flex;
    justify-content: space-between;

}
.team-name1{
    padding:30px 70px 10px;
}
.team-name2{
    padding: 30px 83px 10px;
}
.team-name3{
    padding: 30px  60px 10px; 
    text-align: center;
}
.team-name4{
    padding: 30px 62px 10px;
}
.work-name1{
    text-align: center;
}
.work-name2{
    text-align: center;
}
.work-name3{
    text-align: center;
}
.work-name4{
    text-align: center;
}
.address{
    display: flex;
    flex-direction: column;
    padding: 0px 1154px 60px 215px;
}
.mail{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}
.logo2{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color:#FFFFFF;
    text-decoration: none;
    
}
.lesya{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 0 0 9px 0;
}
.logogo{
    padding:60px 1240px 20px 215px
}
.mail2{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    padding: 0 0 9px 0;
}
.tel2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}
.mail2:hover{
    color:#2196F3;
}
.tel2:hover{
    color:#2196F3;
}
.mail:hover{
    color:#2196F3;
}
.tel:hover{
    color:#2196F3;
}